example/src/main/mule/example.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:sockets="http://www.mulesoft.org/schema/mule/sockets"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/sockets http://www.mulesoft.org/schema/mule/sockets/current/mule-sockets.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="70df7ef5-a160-41d5-8f93-7a438fc5b869" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="exampleFlow" doc:id="a82c6d5d-25cf-49d5-bd51-44f40269a0ba" >
		<http:listener doc:name="Listener" doc:id="a2bea44b-1395-4a5d-b7bc-06bd4271fa42" config-ref="HTTP_Listener_config" path="/example"/>
		<ee:transform doc:name="Transform Message" doc:id="b0314fde-e3c5-4798-8ee5-919d4634b172" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
flights: {(payload..*return map (object, index) -> {
	flight: object
}
		
)}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-payload value="Example" doc:name="Set Payload" doc:id="df0b5596-519f-4b0f-a706-4c7325286fb2" />
		<logger level="INFO" doc:name="Logger" doc:id="a2516704-221d-4db9-875f-ffe96e24a6b2" message="'Hello'"/>
	</flow>
</mule>
